<section
        data-th-fragment="rebase-form"
        data-th-if="${localbranches!=null}"
        id="git-rebase">
    <div data-th-if="${rebaseResult!=null}">
        <p data-th-text="|Rebase status: ${rebaseResult.getStatus()}|"/>
    </div>
    <form method="post"
          data-th-action="${url + '/germ/' + requestPath}"
          class="pure-form pure-form-stacked">
        <fieldset>
            <legend>Git rebase - <span class="smaller">moving branch to the new remote base commit.</span></legend>
            <input type="hidden" name="cmd" value="rebase"/>
            <input type="submit" value="Rebase" class="pure-button pure-button-primary"/>
        </fieldset>
    </form>
</section>